
h3{
	color:black;
	text-align: center;
}

p{
	color:black
}

body{
    background-color: #E6E6FA;
}

.blink{
     background-color: lightblue;
}
.columns{
    width: 654px;   
}
.columns0{
    width: 800px;   
}

.column{   
	display: inline;
}

.credits{
	marquee-style: scroll;
	marquee-direction: up;
	text-align: center;
	height: 700px;
}

.replay{
	text-align: center;
}

.score{
	text-align: center;
	font-size:160%
}